body, html {
  width: 80%;
  box-sizing: border-box;
  min-height: 100vh;
  background-image: linear-gradient(to top, #ffffff, #fcf5fa, #feeaec, #fbe1d6, #ebddc2);
}

@font-face {
  font-family: "Monospace";
  src: url("./fonts/Monospace.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$txtbord: #4D234D;
$cbck: #ECDCC9;
$pbck: #CAC2B5;
$pot1:#D0A98F;
$pot2:#EDD4B2;
$bckIvo:#EBDDC2;

:root {
  display: flex;
  flex-direction: column;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  place-items: center;
  font-family: "Monospace";
  min-height: 100vh;
}

h1, h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: $txtbord;

}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.CustomHR{
  border: none;
  height: 2px;
  background-color: #333;
  margin: 20px 0;
}

.NavBar{
  display: flex;
  flex-direction: row;
  border: 3px solid $txtbord;
  box-sizing: border-box;
}

.Intro{
  display: flex;
  flex-direction: column;
  border: 3px solid $txtbord;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 20px;
  background-color: $pbck;
}

.ProjectCards{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid $txtbord;
  background-color: $pbck;
}

.footer{
  display: flex;
  flex: row;
  width: 100%;
  color: white;
  background-color: black;
  box-sizing: border-box;
  background-color: $pbck;
}
